<div class="login">
	<div class="container">
	<div class="wrapper wrapper-login">
		<div class="container container-signup animated fadeIn">
			<h3 class="text-center">Sign Up</h3>
			<form name="userForm" class="login-form" ng-submit="signup(user)"
				novalidate>
				<div class="form-group form-floating-label">
					<input ng-model="user.name" name="fullname" type="text"
						class="form-control input-border-bottom" required> <label
						for="fullname" class="placeholder">Nome</label>
				</div>
				<div class="form-group form-floating-label">
					<input ng-model="user.email" name="email" type="email"
						class="form-control input-border-bottom" required> <label
						for="email" class="placeholder">E-mail</label>
				</div>
				<div class="form-group form-floating-label">
					<input ng-model="user.password" name="password" type="password"
						class="form-control input-border-bottom" id="showPassword1" required> <label
						for="password" class="placeholder">Senha</label>
					<div onclick="showPassword1()" class="show-password">
						<i class="flaticon-interface"></i>
					</div>
				</div>
				<div class="form-group form-floating-label">
					<input ng-model="user.confirmPassword" name="confirmPassword"
						type="password" class="form-control input-border-bottom" id="showPassword2" required>
					<label for="password" class="placeholder">Confirmar Senha</label>
					<div onclick="showPassword2()" class="show-password">
						<i class="flaticon-interface"></i>
					</div>
				</div>
				<span ng-show="disable == 'true'"
					style="justify-content: flex-end; display: flex; color: red; font-size: 16px;">
					A senha deve ser igual. </span>

				<div class="row form-sub m-0">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" name="agree" 
							id="agree" required> <label class="custom-control-label"
							for="agree">Aceito os termos de condiçoes.</label>
					</div>
				</div>
				<div class="form-action">
					<a href="#/signin" id="show-signin"
						class="btn btn-danger btn-rounded btn-login mr-3">Cancelar</a>
					<button type="submit" class="btn btn-primary btn-rounded btn-login"
						ng-disabled="userForm.$invalid">Cadastrar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Button trigger modal -->
<button id="modal" style="display: none;" type="button"
	class="btn btn-primary" data-toggle="modal"
	data-target="#exampleModalCenter"></button>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<h2>Cadastro realizado com sucesso</h2>
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="signin()" class="btn btn-secondary"
					data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
</div>

<script>
	function showPassword1() {
	  var x = document.getElementById("showPassword1");
	  if (x.type === "password") {
	    x.type = "text";
	  } else {
	    x.type = "password";
 	 }
} 

	function showPassword2() {
	  var x = document.getElementById("showPassword2");
	  if (x.type === "password") {
	    x.type = "text";
	  } else {
	    x.type = "password";
 	 }
} 
</script>

