/* .items-table--row.devices { */
/* 	cursor: pointer; */
/* } */
.md-inline-form.board-details {
	width: 60%;
}

.md-inline-form.board-details-port {
	width: 30%;
}

fieldset {
	border: 1px gray solid;
	border-radius: 5px;
	padding: 1rem;
}

legend {
	width: auto;
	padding-right: 5px;
}

/* Basic Rules */
.switch input {
	display: none;
}

.switch {
	display: inline-block;
	width: 60px;
	height: 30px;
	margin: -6px 8px 8px 8px;
	transform: translateY(50%);
	position: relative;
	cursor: pointer;
}
/* Style Wired */
.slider {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 30px;
	box-shadow: 0 0 0 2px #777, 0 0 4px #777;
	cursor: pointer;
	border: 4px solid transparent;
	overflow: hidden;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #777;
	border-radius: 30px;
	transform: translateX(-30px);
	transition: .4s;
}

input:checked+.slider:before {
	transform: translateX(30px);
	background: limeGreen;
}

input:checked+.slider {
	box-shadow: 0 0 0 2px limeGreen, 0 0 2px limeGreen;
}

.switch .labels {
	position: absolute;
	top: 6px;
	left: 0;
	width: 100%;
	height: 100%;
	color: #bdb6b6;
	font-size: 12px;
	font-family: sans-serif;
	transition: all 0.4s ease-in-out;
}

.switch .labels::after {
	content: attr(data-off);
	position: absolute;
	right: 5px;
	opacity: 1;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	transition: all 0.4s ease-in-out;
}

.switch .labels::before {
	content: attr(data-on);
	position: absolute;
	left: 5px;
	opacity: 0;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
	transition: all 0.4s ease-in-out;
}

.switch input:checked ~.labels::after {
	opacity: 0;
}

.switch input:checked ~.labels::before {
	opacity: 1;
}

.carddemoBasicUsage .card-media {
  background-color: #999999;
}