
<div class="content">
	<div class="page-inner">
		<h4 class="page-title" style="margin-bottom: 0px; text-align: center;">Configurações do Usu&aacute;rio</h4>
		<div class="row">
			<div class="col-md-8">
				<div class="card card-with-nav">
					<div class="card-header">
						<div class="row row-nav-line">
							<ul class="nav nav-tabs nav-line nav-color-secondary">
								<li class="nav-item"><a href class="nav-link active show"
									ng-class="{ active: isSet(1) }" ng-click="setTab(1)">Perfil</a>
								</li>
								<li class="nav-item"><a href class="nav-link" 
									ng-class="{ active: isSet(2) }" ng-click="setTab(2)">Notificação</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body">

						<div ng-show="isSet(1)">

							<div class="row mt-3">
								<div class="col-md-6">
									<div class="form-group form-floating-label">
										<input ng-model="user.name" type="text" class="form-control input-border-bottom" required>
										<label for="email" class="placeholder">Nome</label>
									</div>		
								</div>	
															
								<div class="col-md-6">
									<div class="form-group form-floating-label">
										<input ng-model="user.email" type="email" class="form-control input-border-bottom" required>
										<label for="email" class="placeholder">E-mail</label>
									</div>		
								</div>									
							</div>
							
							<div class="row mt-3">
								<div class="col-md-6">
									<div class="form-group form-floating-label">
										<input ng-model="user.password" type="password" class="form-control input-border-bottom">
										<label for="senha" class="placeholder">Senha</label>
									</div>		
								</div>	
								
								<div class="col-md-6" style="align-items: flex-end;">
									<button class="btn btn-danger btn-sm" style="height: 30px" ng-click="deleteUser(user)">Delete Account</button>
								</div>								
							</div>
							
							
							<div class="text-center mt-3 mb-3">
								<button class="btn btn-success btn-sm" ng-click="saveUser(user)">Salvar</button>
								<button class="btn btn-danger btn-sm" ng-click="cancelUser()">Cancelar</button>
							</div>
							
							
						</div>
						
						<div ng-show="isSet(2)">
							<h4>Tab 2</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>