<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <button id="connect" type="button" ng-click="connect()">Start New Chat</button>
                    <button id="disconnect" type="button" disabled="disabled">End Chat
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="chat">
                <thead>
                <tr>
                    <th>Welcome user. Please enter you name</th>
                </tr>
                </thead>
                <tbody id="helloworldmessage">
                </tbody>
            </table>
        </div>
            <div class="row">
        
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <textarea ng-model="message" placeholder="Write your message here..." required></textarea>
                </div>
                <button id="send" type="submit" ng-click="send()">Send</button>
            </form>
        </div>
        </div>
    </div>
 
</div>




<!-- <form name="socketForm" ng-submit="sendButton()" ng-init="init()"> -->
<!--     <div id="content" style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;"> -->
<!--         <span >{{status}}</span> -->
<!--     </div> -->
    
<!--         <div layout="column" layout-padding> -->
<!--             <div layout-gt-sm="row"> -->
<!--                 <div flex-gt-xs> -->
<!--                     <h4>Nome*:</h4> -->
<!--                     <md-input-container class="md-block" flex-gt-sm> -->
<!--                         <label>Nome</label> -->
<!--                         <input ng-model="chat.nome" name="nome" md-autofocus required="required"> -->
    
<!--                     </md-input-container> -->
<!--                 </div> -->
<!--                 <div flex-gt-xs> -->
<!--                     <h4>Message*:</h4> -->
<!--                     <md-input-container class="md-block" flex-gt-sm> -->
<!--                         <label>Message</label> -->
<!--                         <input ng-model="chat.message" name="message" md-autofocus required="required"> -->
    
<!--                     </md-input-container> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--         <md-button type="submit" class="md-primary md-raised" ng-disabled="socketForm.$invalid"> -->
<!--             Send -->
<!--         </md-button> -->
    
<!--     </form> -->