<md-content layout="column">
      <div class="space-between" layout="row">
            <p class="margin"><strong>Configurações</strong></p>
      </div>

      <md-list ng-cloak>

            <md-subheader class="md-no-sticky">
                  Habilitar WebSocket (<span class="font-size-small">Receber dados em Tempo Real</span>)
            </md-subheader>
            <md-list-item class="md-list-config" ng-click="changeWebSocket()">
                  <p> WebSocket </p>
                  <md-switch class="md-secondary" ng-model="authDetails.connectWebSocket" ng-change="changeWebSocket()"></md-switch>
            </md-list-item>

            <md-divider></md-divider>

      </md-list>

</md-content>