<md-content layout="column" >
	<div class="space-between" layout="row" ng-cloak ng-if="devices.length">
	   <p class="margin"><strong>Dispositivos</strong></p>
	   <md-button class="btn btn-round " ng-click="showDialogNewDevice($event)" aria-label="Adicionar Placa" style="width: 155px;">
			<strong>+</strong> Dispositivo
		</md-button>
   </div>
   
   <div class="md-padding padding-left-50" layout="row" layout-wrap>
		<md-card ng-repeat="card in devices" md-theme="{{ 'default' }}" style="cursor: pointer;" md-theme-watch>
			<md-card-title ng-if="card.id" ng-click="deviceDetails(card.id)">
				<md-card-title-text>
					<span class="md-headline">{{ card.name }}</span>
					<span class="md-subhead">{{ card.description }}</span>
				</md-card-title-text>
				<md-card-title-media style="padding-left: .5rem">
					<div class="md-media-sm card-media"><img ng-src="{{ card.iconPath }}" class="md-card-image" id="iconWhite"></div>
				</md-card-title-media>
			</md-card-title>

			<md-card-title ng-if="!card.id">
				<md-card-title-text>
					<span class="md-headline">{{ card.name }}</span>
					<span class="md-subhead">{{ card.description }}</span>
				</md-card-title-text>
				<md-card-title-media style="padding-left: .5rem">
					<div class="md-media-sm card-media"><img ng-src="{{ card.iconPath }}" class="md-card-image" alt="Luz" id="iconWhite"></div>
				</md-card-title-media>
			</md-card-title>

			<md-card-actions layout="row" layout-align="center center">
				<div ng-if="!card.id">
					<md-button ng-click="save(card)">Salvar</md-button>
					<md-button class="md-warn" ng-click="removeItem($index)">Deletar</md-button>
				</div>
				<div ng-if="card.id">
					<md-switch md-invert ng-model="card.active" aria-label="Ativo" ng-change="updateStatus(card)">Ativo&nbsp;&nbsp;</md-switch>			        	
				</div>
			</md-card-actions>
		</md-card>
	</div>	
   
</md-content>