<md-content layout="column" >
	<div class="space-between" layout="row">
	   <span class="margin"><strong>Informa&ccedil;&otilde;es do Dispositivo</strong></span>		
   </div>
   
   <div layout="row" >
	   <div layout="column" ng-cloak class="md-inline-form widht-50" layout-padding>
		   <div class="padding-left-50">
			 <form id="form-board">
			 
			   <div layout-gt-sm="row">
				 <md-input-container class="md-block" flex-gt-sm>
				   <label>Nome</label>
				   <input type="text" ng-model="device.name">
				 </md-input-container>
				 
				 <md-input-container class="md-block" flex-gt-sm>
				   <label class="label-switch" >Status</label>
					  <md-switch ng-model="device.active" aria-label="Status" ng-change="updateStatus(device)"></md-switch>	
				 </md-input-container>	
			   </div>
			   
			   <div layout-gt-sm="row">
				 <md-input-container class="md-block" flex-gt-sm>
				   <label>Descri&ccedil;&atilde;o</label>
				   <input type="text" ng-model="device.description" >
				 </md-input-container>
				 
				 <md-input-container class="md-block" flex-gt-sm>
				   <label>Icone</label>
				   <input type="text" ng-model="device.iconPath" >
				 </md-input-container>		  
			   </div>	
			   
			   <md-button class="btn-x " ng-click="editDevice(device)">Salvar Dispositivo</md-button>	
			   <md-button class="md-raised md-warn" ng-click="delete(device)" aria-label="Excluir">Excluir</md-button>			   
			 </form>
		   </div>
	   </div>		   
   </div>	
</md-content>	