:root {
	--primary-color: white;
	--secondary-color: rgb(61, 68, 73);
	--highlight-color: #3282b8;
	--dt-status-available-color: greenyellow;
	--dt-status-away-color: lightsalmon;
	--dt-status-offline-color: lightgray;
	--dt-padding: 12px;
	--dt-padding-s: 6px;
	--dt-padding-xs: 2px;
	--dt-border-radius: 3px;
	--dt-background-color-container: #2a3338;
	--dt-border-color: var(--secondary-color);
	--dt-bg-color: var(--highlight-color);
	--dt-text-color: var(--primary-color);
	--dt-bg-active-button: var(--highlight-color);
	--dt-text-color-button: var(--primary-color);
	--dt-text-color-active-button: var(--primary-color);
	--dt-hover-cell-color: var(--highlight-color);
	--dt-even-row-color: var(--secondary-color);
	--dt-focus-color: var(--highlight-color);
	--dt-input-background-color: var(--secondary-color);
	--dt-input-color: var(--primary-color);
}


ng-view {
	width: 100%;
	background-color: #292929;
}

.p-t1 {
	padding-top: 1em;
}

.p-b1 {
	padding-bottom: 1em;
}

.margin-h {
	margin-bottom: 6px;
	margin-top: 0px;
}

.mt-3 {
	margin-top: 3em;
}

.m-b3 {
	margin-bottom: 3em;
}

.btn-round {
	border-radius: 20px;
	/* Raio da borda arredondada */
}

.btn-border {
	border-radius: 20px;
	border-color: #3f51b5;
	color: #3f51b5;
	font-size: 12px;
}

.btn-border:hover {
	background-color: #3f51b5;
	/* Altere a cor de fundo ao passar o mouse */
	border-color: transparent;
	color: white;
}

.small-gray {
	font-size: small;
	color: #b7b7b7;
	background-color: transparent;
	border: none;
}

.size-input {
	width: 240px;
	border-color: white;
}

.center {
	text-align: center;
}

.white {
	color: white;
}

.login {
	background-color: #090a0c;
	background-image:
		url(https://web.plataformafasttrade.com.br/assets/images/svg/register-background.svg);
}

.login .wrapper.wrapper-login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: unset;
	padding: 15px;
	max-width: 350px;
	width: 350px;
	background: #1b1d23;
	border-radius: 5px;
	-webkit-box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
	-moz-box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
	box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
}

md-input-container.md-default-theme .md-placeholder,
md-input-container .md-placeholder,
md-input-container.md-default-theme label,
md-input-container label {
	color: white;
}

md-input-container:not(.md-input-has-value):not(.md-input-has-placeholder) input:not(:focus) {
	border-color: white;
}

input,
label {
	color: white !important;
}

.btn {
	width: 130px;
	height: 40px;
	background: none;
	outline: none;
	border: 2px solid #999;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	margin: 20px 0;
	color: #999;
}

.btn:hover {
	background: #999;
}

.btn-x {
	width: 300px;
	height: 40px;
	/* 	background: none; */
	outline: none;
	border: 2px solid #999;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	margin: 20px 0;
	color: #999;
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #1b1d23 inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
	-webkit-text-fill-color: white !important;
}

.d-flex {
	height: calc(100vh - 68px);
	display: flex;
	flex-direction: row;
}

.d-flex-column {
	display: flex;
	flex-direction: column;
}

.justify-content-center {
	display: flex;
	flex-direction: row;
	justify-content: center
}

.align-items-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

md-menu-content {
	display: flex;
	align-items: center;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
	background-color: rgb(20, 20, 20);
	color: rgb(255, 255, 255);
	border-bottom: 1px solid rgba(255, 255, 255, .15);
	min-height: 61px;
}

md-sidenav,
md-sidenav md-content {
	background-color: rgb(20, 20, 20);
	border-right: 1px solid rgba(255, 255, 255, .15);
	box-sizing: border-box;
}

md-content.md-default-theme,
md-content {
	color: white;
}

.profile-card {
	background-color: #292929;
}

.txt-center {
	text-align: center
}

md-dialog {
	background-color: #292929;
}

md-radio-group {
	color: white
}

md-select.md-default-theme .md-select-value.md-select-placeholder,
md-select .md-select-value.md-select-placeholder {
	color: white;
}

md-calendar {
	margin-left: 12px;
	border: 1px solid dimgrey;
    border-radius: 7px; 
}

.md-select-icon {
	color: white;
}

.md-select-value .md-select-icon:after {
	color: white;
}

.md-select-value>span:not(.md-select-icon) .md-text {
	color: white;
}

md-radio-button.md-default-theme .md-off,
md-radio-button .md-off {
	border-color: white
}

md-content {
	background-color: #292929;
	height: 81vh;
}

.space-between {
	justify-content: space-between;
	margin: 0 2rem;
}

.margin {
	margin: 29px 0;
}

.label-switch {
	font-size: 13px;
	padding-bottom: 24px;
	padding-left: 14px !important;
}

.padding-left-50 {
	padding-left: 50px
}

.widht-50 {
	width: 50%
}

.dflex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.md-button {
	min-height: 35px;
}

md-switch {
	height: 1px;
}

md-switch:last-of-type {
	margin-left: 14px;
}

.md-toolbar-tools>.md-button:last-child {
	margin-right: 0px;
}

.md-card-image {
	width: 50px;
	height: 50px;
}

md-card-title-media {
	height: 80px;
	width: 80px;
}

.svg-icon-margin {
	padding: 5px;
	margin-right: 10px;
}

.hover {
	padding: 5px;
}

.hover:hover {
	background: #474747;
	padding: 5px;
	border-radius: 5px;
}

.rounded-full {
	border-radius: 9999px;
}

.\!bg-\[\#1DA086\] {
	--tw-bg-opacity: 1 !important;
	background-color: rgb(29 160 134/var(--tw-bg-opacity)) !important;
}

.w-3\.5 {
	width: .875rem;
}

.h-3\.5 {
	height: .875rem;
}

md-divider {
	margin-top: 0;
	margin-bottom: 0;
}

md-list {
	padding: 0 2rem ;
	width: 50%;
}

.font-size-small {
	font-size: 12px;
}

.home-details {
	width: 150px;
    height: 50px;
	cursor: pointer;
}

.sidenav-btn {
	text-align: start;
	width: 95%;	
	padding: 0px 20px;
	margin: 4px 8px;	
}

.navbar-item {
	width: 100%;
}

md-menu-content.md-menu-bar-menu.md-dense .md-menu>.md-button, md-menu-content.md-menu-bar-menu.md-dense md-menu-item>.md-button {
    text-align: center;
}


.card {
	display:inline-block;
	/* float:left; */
	width:170px;
	height:110px;
	margin:15px;
	/* padding-top:5%; */
	/* text-align:center; */
	border: 1px solid grey;
	background-color:#575594;
	color:black;
	font-family:'Helvetica';
	cursor:pointer;
	border-radius: 7px;	
  }
  
  .card:hover {
	background-color:rgba(87, 85, 148, 0.75);
	color:white;
	transition: 0.5s ease all;
	-webkit-transition: 0.5s ease all;
  }

.border-round {
	border-radius: 7px;
}

#iconWhite {
	filter: invert();
}

#automation {
	display: flex;
	flex-direction: column;
}