<md-content layout="column">
      <div class="space-between" layout="row" ng-cloak>
            <p class="margin"><strong>Automação</strong></p>
            <md-button class="btn btn-round " ng-click="showDialogNewDevice($event)" aria-label="Adicionar Placa"
                  style="width: 155px;">
                  <strong>+</strong> Automação
            </md-button>
      </div>

      <div class="md-padding padding-left-50" layout="row" layout-wrap id="automation">
            <div layout="row">
                  <md-card ng-repeat="card in cards" class="card" style="cursor: pointer; background:{{card.Color}}" md-theme-watch>
                        <md-card-title>
                              <md-card-title-text>
                                    <span class="md-headline">{{ card.name }}</span>
                              </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                              <h1 class="margin-h">{{ card.count }}</h1>
                        </md-card-content>
                  </md-card>                  
            </div>

            <div layout="row">
                  <md-calendar ng-model="datepickerDate" ng-model-options="{timezone: 'UTC'}" size="50" ng-click="buscaAgenda(datepickerDate)"> </md-calendar>

                  <div class="datatable-container">
                        <!-- ======= Table ======= -->
                        <table class="datatable">
                              <thead>
                                    <tr>
                                          <th style="text-align: center">ID</th>
                                          <th>Nome</th>
                                          <th>Status</th>
                                          <!-- <th>Disp. Vinculado</th> -->
                                          <th>Tipo</th>
                                          <th>Modelo</th>
                                    </tr>
                              </thead>
                              <tbody  ng-cloak ng-model="boards">
                                    <tr ng-cloak ng-repeat="board in boards" class="items-table--row devices">
                                          <td class="center"><a ng-href="#!/board/{{ board.id }}" class="white">{{ board.id }}</a> </td>
                                          <td ng-click="boardDetails(board.id)" style="cursor: pointer;">{{ board.name }}</td>
                                          <td ng-if="board.status" ng-click="boardDetails(board.id)" style="cursor: pointer;"><span class="available"> </span></td>
                                          <td ng-if="!board.status" ng-click="boardDetails(board.id)" style="cursor: pointer;"><span class="offline"></span></td>
                                          <!-- <td><a href="#!/device" class="white"> Criar Dispo THING </a></td> -->
                                          <td>{{ board.type }}</td>
                                          <td>{{ board.model }}</td>
                                    </tr>
                              </tbody>
                        </table>
                  </div>	
                                    
            </div>
      </div>

</md-content>