<md-content layout="column">
      <div class="space-between" layout="row" ng-cloak >
            <p class="margin"><strong>Automação</strong></p>
            <md-button class="btn btn-round " ng-click="showDialogNewDevice($event)" aria-label="Adicionar Placa"
                  style="width: 155px;">
                  <strong>+</strong> Automação
            </md-button>
      </div>

      <div class="md-padding padding-left-50" layout="row" layout-wrap>
		<md-card ng-repeat="card in cards" class="card" style="cursor: pointer;background:{{card.Color}}" md-theme-watch>
			<md-card-title >
				<md-card-title-text>
                              <span class="md-headline">{{ card.name }}</span>
					<!-- <span class="md-subhead">{{ card.name }}</span> -->
				</md-card-title-text>
			</md-card-title>
                  <md-card-content >
                        <h1 class="margin-h">{{ card.count }}</h1>
                  </md-card-content>
            </md-card>  
      </div>    

      <div class="md-padding padding-left-50" layout="row" layout-wrap>
            <md-calendar ng-model="datepickerDate" ng-model-options="{timezone: 'UTC'}" size="50" > </md-calendar>

            <div layout="column" layout-padding>
                  <div>
                        <h4>Calendar Values</h4>
                        <div>
                              <strong>Date in local timezone:</strong>
                              {{datepickerDate|date:"dd-MM-yyyy HH:mm:ss Z"}}
                        </div>
                        </div>
                        <md-divider></md-divider>
            </div>
          
      </div>         


</md-content>