<div class="container">


	<form ng-submit="addMessage()" name="messageForm">
		<input type="text" placeholder="Compose a new message..."
			ng-model="message" />
		<div class="info">
			<span class="count" ng-bind="max - message.length"
				ng-class="{danger: message.length > max}">140</span>
			<button ng-disabled="message.length > max || message.length === 0">Send</button>
		</div>
	</form>
	<hr />
	<p ng-repeat="message in messages | orderBy:'time':true"
		class="message">
		<time>{{message.time | date:'HH:mm'}}</time>
		<span ng-class="{self: message.self}">{{message.message}}</span>
	</p>

</div>


<div class="login">
	<div class="container">
		<div class="wrapper wrapper-login">
			<div class="container container-login animated fadeIn">
				<h3 class="text-center" style="padding-bottom: 1em;">Acessar sua conta</h3>
				<form class="login-form" ng-submit="signin(email)">
					<div class="form-group form-floating-label">
						<input ng-model="email" id="email" name="email" type="text" class="form-control input-border-bottom"
						 required>
						<label for="email" class="placeholder">E-mail</label>
					</div>
	
	
					<div class="form-action mb-3">
						<button type="submit" href="#" class="btn btn-primary btn-rounded btn-login">Entrar</button>
					</div>

				</form>
			</div>	
		</div>
	</div>
</div>

