<!doctype html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Home On</title>
<link rel="icon" href="./assets/ico/conn.jpg" type="image/x-icon" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

<link rel="stylesheet" href="/assets/css/angular-material.min.css">
<link rel="stylesheet" href="/assets/css/ng-notify.min.css">
<link rel="stylesheet" href="/assets/css/angular-material-icons.css">
<link rel="stylesheet" href="/assets/css/app.css">
</head>

<body ng-app="homeon">
	<div ng-controller="mainController" ng-cloak>

		<md-toolbar ng-if="statusMenu" ng-include="'src/fragments/navbar.html'"></md-toolbar>

		<div class="d-flex">
			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
				md-is-locked-open="$mdMedia('min-width: 700px')" ng-if="statusMenu" ng-include="'src/fragments/sidenav.html'"> 
			</md-sidenav>

			<div id="main" class="justify-content-center" ng-view flex md-scroll-y></div>
		</div>

		<div id="right" layout="column" layout-align="center center" class="md-padding" style="padding: 1px;"></div>
	</div>

    <!-- Angular Material Dependencies -->
	<script src="/assets/js/angular.min.js"></script>
	<script src="/assets/js/angular-route.min.js"></script>
	<script src="/assets/js/angular-cookies.min.js"></script>
	<script src="/assets/js/ngStorage.min.js"></script>
    <script src="/assets/js/angular-animate.min.js"></script>
    <script src="/assets/js/angular-aria.min.js"></script>
    <script src="/assets/js/angular-material.min.js"></script>	
    <script src="/assets/js/ng-notify.min.js"></script>
    <script src="/assets/js/angular-material-icons.min.js"></script>

	<script src="src/app.js"></script>
	<script src="src/main.js"></script>
	<script src="src/utils/routers.js"></script>
	<script src="src/service/interceptor.js"></script>
	<script src="src/service/httpRequest.js"></script>
	<script src="src/service/signin.signout.js"></script>
	
	<script src="src/signin/signin.js"></script>
	<script src="src/home/home.js"></script>
	<script src="src/profile/profile.js"></script>

</body>
</html>
