<div class="login">
	<div class="container">
		<div class="wrapper wrapper-login">
			<div class="container container-login animated fadeIn">
				<h1 class="text-center text-white" style="padding-bottom: 1em;">Fa&ccedil;a seu login</h1>
				<div class="col-12 form-title ng-star-inserted"> Faça seu login </div>
				
				<form method="post" class="login-form" ng-submit="signin(email, password)">
					<div class="form-group form-floating-label">
						<input ng-model="email" id="email" name="email" type="text" class="form-control input-border-bottom"
						 required>
						<label for="email" class="placeholder">E-mail</label>
					</div>
					<div class="form-group form-floating-label">
						<input ng-model="password" type="password" class="form-control input-border-bottom"
						 		id="showPassword" required>
						<label for="password" class="placeholder">Senha</label>
						<div onclick="showPassword()" class="show-password">
							<i class="flaticon-interface"></i>
						</div>
					</div>
	
					<div class="row form-sub m-0" style="padding-bottom: 1em;">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="rememberme">
							<label class="custom-control-label" for="rememberme">Lembrar me</label>
						</div>
						
						<button type="button" ng-click="changePass($event)" class="link float-right" style="font-size: small;color: #b7b7b7; background-color: transparent;">Esqueceu a senha ?</button>
					</div>
					<div class="form-action mb-3">
						<button type="submit" class="btn btn-primary btn-rounded btn-login">Entrar</button>
					</div>
				</form>
				
				<div class="login-account">
					<span class="msg" style="color: #b7b7b7;">Nao possui uma conta ?</span>
					<button ng-click="addUser($event,null)" id="show-signup" class="btn btn-primary btn-border btn-round btn-xs">Criar Conta</button>
				</div>
			</div>	
		</div>
	</div>
</div>

<script>

	function showPassword() {
	  var x = document.getElementById("showPassword");
	  if (x.type === "password") {
	    x.type = "text";
	  } else {
	    x.type = "password";
 	 }
} 
</script>
