<div class="container d-flex justify-content-center">

	<div layout="row" layout-wrap>
		<h2>Controle e envie comandos ao seu dispositivo</h2>
	</div>

	<div class="row">
		<form class="md-inline-form">

			<div layout="row" layout-wrap>
				<md-input-container> <label>Dispositivo</label>
				<md-select ng-model="task.board"> <md-option
					ng-repeat="board in boards" value="{{board.id}}">
				{{board.name}} </md-option> </md-select> </md-input-container>
			</div>

			<div layout="row" layout-wrap>
				<md-input-container> <label> Porta/Pino
				</label> <input type="text" ng-model="task.pin"> </md-input-container>

			</div>

			<div layout="row" layout-wrap>
				<md-input-container> <label>Comando</label> <md-select
					ng-model="task.command"> <md-option value="1">
				Ligar </md-option> <md-option value="0"> Desligar </md-option> </md-select> </md-input-container>
			</div>

			<div class="button d-flex justify-content-center">
				<button type="button" class="btn btn-primary btn-sm btn-radius"
					ng-click="sendCommand(task)">Enviar Comando</button>
			</div>
		</form>
	</div>


</div>