<div layout="column" layout-align="center center" style="height: 98vh;" class="login">
	<md-content layout="column" layout-align="center center" class="wrapper wrapper-login">
	 
		<h1 class="center white">Fa&ccedil;a seu login</h1>
		
		<md-input-container>
		  <label>Email</label>
		  <input ng-model="email" type="email" id="email" name="email" class="size-input" ng-required="true">
		</md-input-container>
	  
		<md-input-container>
		  <label>Password</label>
		  <input ng-model="password" type="password" id="showPassword" class="size-input" ng-required="true">
		</md-input-container>
		
		<div class="p-b1">	
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>				
			<button type="button" ng-click="forgotPassword($event)" class="small-gray">Esqueceu a senha ?</button>
		</div>	

		<md-button class="md-raised md-primary m-b3 btn-round" ng-click="signin()">Entrar</md-button>

		<div class="m-b3">
			<span class="small-gray">Nao possui uma conta ?</span>
			<button ng-click="createAccount($event,null)" class="btn-border">Criar Conta</button>
		</div>
	</md-content>
</div>